@using UpSchool.Wasm.Common.Utilities;
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-3">
            <div class="card-header text-center">
                <div class="card-title">
                    <h2 class="text-primary">
                        saved passwords

                    </h2>
                </div>

            </div>
            <div class="card-body">
                @if (savedPasswords.Any()) //şifre var mı kontrolü
                {


                    <ul class="list-group text-center">
                        @foreach (var savedPassword in savedPasswords)
                        {
                            <li  class="@($"list-group-item text-white  {CssUtilities.GetCssColourClassForPasswords(savedPassword.Length)}")">
                                <span class="clickable me-3" @onclick="@(()=>CopyToClipboardAsync())"> @savedPassword</span>
                            <span @onclick="@(()=>DeletePasswordAsyncCallBack.InvokeAsync(savedPassword))" class="oi oi-trash clickable" aria-hidden="true"></span>

                             
                            </li>
                            <!--

                                {} içinde fonksiyon da çağırılabilir
                            -->
                        }

                    </ul>
                }
                else
                {

                    <div class="text-danger">

                        <h5>

                            There isn't any passwords.
                        </h5>
                    </div>


                }

            </div>
            <div class="card-footer d-flex justify-content-between">

                <button class="btn btn-outline-info" @onclick="@(()=>FetchPasswordsAsyncCallBack.InvokeAsync())">
                    Refresh

                </button>
                <button class="btn btn-outline-danger" @onclick=@ClearSavedPasswords>
                    Clear

                </button>
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public List<string>savedPasswords{ get; set; }
    [Parameter]
    public EventCallback OnCopyToClipboardAsync { get; set; } //anasayfadaki metodu geçmek için event callback kullanıyoruz

    [Parameter]
    public EventCallback OnClearSavedPasswords { get; set; }
    [Parameter]
    public EventCallback FetchPasswordsAsyncCallBack { get; set; }

    [Parameter]
    public EventCallback<string> DeletePasswordAsyncCallBack { get; set; }
    private Task CopyToClipboardAsync()
    {
        //parametre ile gelen öetodu çalıştırmak için yaptık
        //bu metodu inline olarak yukarda da yazabilirdik
        return OnCopyToClipboardAsync.InvokeAsync();
    }

    private Task ClearSavedPasswords()
    {
        //parametre ile gelen öetodu çalıştırmak için yaptık
        //bu metodu inline olarak yukarda da yazabilirdik
        return OnClearSavedPasswords.InvokeAsync();
    }

}
